:root {
    --background: #f8f8f8;
    --button-color: #fde7d7;
    --activebtncolor1: #e23744;
    --normal-color: white;
    --sidebackground: lightgrey;
    --thcolor: lightgrey;
    --btncolor: black;
    --btncolor1: lightblue;
}
.btn {
    background-color: var(--btncolor1) !important;
    border: none;
    color: var(--btncolor) !important;
}
a {
    background-color: var(--btncolor1);
    color: var(--btncolor);
}
.active-link {
    background-color: var(--activebtncolor1) !important;
    color: var(--normal-color);
}
.table {
    width: 100% !important;
    border-radius: 10px;
}
// * {
//     overflow: hidden;
//     background-image: url("https://www.shutterstock.com/shutterstock/photos/1842730648/display_1500/stock-vector-blue-river-ocean-wave-layer-vector-background-illustration-1842730648.jpg");
//     background-repeat: repeat-x;
//     position: absolute;
//     top: 0px;
//     width: 6400px;
//     height: 198px;
//     animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
//     transform: translate3d(0, 0, 0);
// }
// @keyframes wave {
//     0% {
//         margin-left: 0;
//     }

//     100% {
//         margin-left: -1600px;
//     }
// }
